<%= form_for(@team) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :supervisor_id %>
  <%= f.collection_select :supervisor_id, Employee.all, :id, :id %>

  <br>

  <h2>Members</h2>

  <!-- Use includes here to avoid N + 1 ? -->
  <% Employee.all.each do |employee| %>

    <%=
      check_box_tag(
        "team[member_ids][]",
        employee.id,
        @team.member_ids.include?(employee.id),
        :id => "team_employee_ids_#{employee.id}"
      )
    %>

    <%= label_tag "team_employee_ids_#{employee.id}", "#{employee.id}"%>

    <br>
  <% end %>

  <br>
  <%= f.submit "Save Team"%>

<% end %>